<form action="/rotaqlq" method="POST">
    <!--
    Metodo GET envia os dados pela URL;
    Metodo POST envia os dados de outra forma, é mais seguro dependendo da situação;
     -->
    <p>Titulo: </p>
    <input type="text" name="titulo">
    <p>Conteudo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit"> Cadastrar</button>
</form>